@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  font-size: $font-size-large;
  margin-bottom: $space;
}

p {
  margin-bottom: $space;
}

a {
  color: #000;
}
