// Colors
$primary: #6200ee;
$primary-light:#9e47ff;
$primary-dark: #3700b3;
$secondary: #03dac5;
$secondary-light: #66fff8;
$secondary-dark: #00a895;
$on-primary: #fff;
$on-secondary: #fff;
$link: #0D47A1;
$error: #d32f2f;

$blue-grey50: #ECEFF1;
$blue-grey100: #CFD8DC;
$blue-grey200: #B0BEC5;
$blue-grey300: #90A4AE;
$blue-grey400: #78909C;
$blue-grey500: #607D8B;
$blue-grey600: #546E7A;
$blue-grey700: #455A64;
$blue-grey800: #37474F;
$blue-grey900: #263238;

// Buttons
$button-color: $link;

// Spacing
$space: 1.4rem;
$space-large: 1.8rem;
$site-max-width: 100rem;

// Font sizes
$font-size-small: 1.4rem;
$font-size-base: 1.6rem;
$font-size-large: 2rem;
$font-size-xlarge: 2.4rem;

// Border radiuses
$border-radius-base: .4rem;

// Form inputs
$input-border: $blue-grey400;
$input-spacing: 1rem;

// Breakpoints
$tablet-breakpoint: 45rem;
$desktop-breakpoint: 76.8rem;
$large-screen-breakpoint: 90rem;
