.boxed-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.boxed-view--modal {
  align-items: center;
  background: fade-out($blue-grey400, .3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.boxed-view--content {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.boxed-view__box {
  background-color: #fff;
  border: 1px solid $blue-grey400;
  border-radius: $border-radius-base;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
  margin: ($space * 2) 0;
}

.boxed-view__form--add-link {
  flex-direction: row;
}
