.button {
  background: #fff;
  border: 1px solid #333;
  border-radius: $border-radius-base;
  color: #333;
  cursor: pointer;
  font-size: $font-size-base;
  line-height: 1;
  outline: none;
  padding: 1rem 2rem;
  transition: background-color .3s;

  &:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }
}

.button--primary {
  background-color: $button-color;
  border-color: $button-color;
  color: #fff;

  &:hover {
    background: darken($button-color, 7%);
  }
}

.button--secondary {
  background-color: #fff;
  border-color: lighten($button-color, 35%);
  color: $button-color;

  &:hover {
    background: lighten($button-color, 35%);
    color: $button-color;
  }
}

.button--tertiary {
  background: none;
  border: none;
  color: $button-color;
  padding: 1rem 1.4rem;
  text-decoration: underline;

  &:hover {
    background: lighten($button-color, 48%);
  }
}

.button--special {
  background-color: #81C784;
  border-color: #81C784;
}

.button--destructive {
  background-color: $error;
  border-color: $error;
  color: #fff;

  &:hover {
    background: darken($error, 7%);
  }
}
