.button {
  background-color: $primary;
  border: none;
  border-radius: $border-radius-base;
  color: $on-primary;
  cursor: pointer;
  font-size: $font-size-base;
  line-height: 1.2;
  margin-bottom: $space;
  outline: none;
  padding: $input-spacing;
}

.button--primary {
  padding: $input-spacing 5rem;
}

.button--secondary {
  background-color: $blue-grey50;
  border: 1px solid $blue-grey400;
  color: $blue-grey900;
}

.button--link {
  display: block;
  text-decoration: none;
}

.button--pill {
  background-color: lighten($link, 47%);
  color: $link;
  margin: 0 ($space / 2) 0 0;
  padding: ($space / 2) $space;
  transition: background-color .3s;

  &:hover {
    background-color: lighten($link, 42%);
  }
}

.button--pill-alt {
  background-color: $link;
  color: #fff;

  &:hover {
    background-color: $link;
  }
}

.button--copy {
  min-width: 8.5rem;
}

.button--link-text {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
