.header {
  background: $primary;
  color: $on-primary;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;

  a {
    color: $on-primary;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: darken($on-primary,  18%)
    }
  }
}

.header__title {
  margin: 0;
}
