.header {
  color: $primary;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;

  a {
    color: $primary;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: darken($primary,  8%)
    }
  }
}

.header__title {
  margin: 0;
}
