input[type=text], input[type=email], input[type=password], select {
  border: 1px solid $input-border;
  border-radius: $border-radius-base;
  font-size: $font-size-base;
  margin-bottom: $space;
  padding: $input-spacing;
}

.add-link {
  flex-grow: 1;
  margin-right: $space;
}

.checkbox {
  display: block;
  margin-bottom: $space;
}

.checkbox__box {
  margin-right: $space / 2;
}
