input[type=text], input[type=email], input[type=password], select {
  border: 1px solid $input-border;
  border-radius: $border-radius-base;
  font-size: $font-size-base;
  margin-bottom: $space;
  padding: $input-spacing;
}

.checkbox {
  display: block;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: $space;
  }
}

.checkbox__box {
  margin-right: $space / 2;
}
